<div class="ch-row">
  <div class="md:ch-col--8">
    <div class="ch-card">
      <div class="ch-card__content">
<h1>Hello, Arnold Clark</h1>
<%= link_to 'All Garage Tasks', {controller: 'tasks'}, {class: "ch-btn ch-btn--primary"} %>
<%= link_to 'Station 1 Active Tasks', {controller: 'station1'}, {class: "ch-btn ch-btn--primary"}%>
<%= link_to 'Station 2 Active Tasks', {controller: 'station2'}, {class: "ch-btn ch-btn--primary"}%>
</div>
</div>
</div>
</div>