
<h1>Hello, Arnold Clark</h1>
<%= link_to 'Garage Tasks', controller: 'tasks' %>
<%= link_to 'Station 1 Active Tasks', controller: 'station1' %>
<%= link_to 'Station 2 Active Tasks', controller: 'station2' %>
